{% extends "base.html" %}

{% block body_class %}layout-vertical layout-vertical--nav-2col{% endblock %}


{% block content %}

    <h1>Main page title</h1>

    <article id="video-1"></article>
    <script>
        (function(){
            require(
                [
                    "jquery"
                    ,"jwplayer"
                ],
                function ($,jwplayer) {
                    $(document).ready(function(){
                        jwplayer.key="NmFq93RR/ioemxMEtxGgvNDNjp55xLjEW5XrEA==";
                        jwplayer("video-1").setup({
                            file: "//mediasource-01.mediares.ucl.ac.uk/about-ucl/professor_elizabeth_paice_interview.m4v",
                            image: "//a1247.phobos.apple.com/us/r30/Podcasts/1e/5e/50/tns.fgtpnxzx.jpg",
                            width: '100%'
                        });
                    });
                }
            );
        })()
    </script>

{% endblock %}

{% block content_sidebar %}
    <div class="site-content__sidebar">

        <h1>Sidebar</h1>

        <p>Supporting content, patterns or related links can be placed in the sidebar</p>

    </div>
{% endblock %}
