{% extends "base.html" %}

{% block body_class %}layout-vertical layout-vertical--nav-2col{% endblock %}

{% block content %}

	<h1>CTA Button</h1>

	<p>This is the main content column.</p>

	<h2>Subheader</h2>

	<p>You can brand the UCL banner with your site colour by adding a 'background-color' to the '.photograph' class</p>

	<p>If you would instead like to use a photograph in the banner add the class '.photograph--show' to the '.photograph' div and assign your image to this class in the css</p>
	
	<p class="clearfix"><a href="http://www.google.com" class="cta btn pull-left" onclick="_gaq.push(['_trackEvent','Click','External','http://www.google.com'])">

1 100% left View all news articles

</a></p>
	
	<p class="clearfix"><a href="http://www.google.com" class="cta btn cta-half pull-left" onclick="_gaq.push(['_trackEvent','Click','External','http://www.google.com'])">

1 50% left View all news articles

</a></p>

	
	<p class="clearfix"><a href="http://www.google.com" class="cta btn cta-half pull-right" onclick="_gaq.push(['_trackEvent','Click','External','http://www.google.com'])">

1 50% right View all news articles

</a></p>
	
	<p class="clearfix"><a href="http://www.google.com" class="cta btn cta-threequarters pull-left" onclick="_gaq.push(['_trackEvent','Click','External','http://www.google.com'])">

1 75% left View all news articles

</a></p>

{% endblock %}


{% block content_sidebar %}

	<div class="site-content__sidebar">

		<h1>Sidebar</h1>

		<p>Supporting content, patterns or related links can be placed in the sidebar</p>

	</div>

{% endblock %}
