{% extends "base.html" %}

{% block requirejs %}
require(["app/general","app/carousel"]);//load the default stuff
{% endblock %}

{% block body_class %}layout-vertical layout-vertical--nav-2col{% endblock %}

{% block content %}
    <h1>Main page title</h1>

    <div class="owl-carousel">
        <figure class="owl-carousel__item">
            <img src="//static.ucl.ac.uk/indigo/images/carousel/carousel-aslash.jpg" />
            <figcaption>
            <h2 class="heading">
                <a href="#" target="_self">Paths to justice</a>
            </h2>
            <p class="p">Reshaping policy and practice on citizens' access to justice</p>
            </figcaption>
        </figure>
        <figure class="owl-carousel__item">
            <img src="//static.ucl.ac.uk/indigo/images/carousel/carousel-aslms.jpg" />
            <figcaption>
                <h2 class="heading">
                    <a href="#" target="_self">NHS Stop Smoking Services</a>
                </h2>
                <p class="p">Research enables the NHS to help 7,500 smokers quit</p>
            </figcaption>
        </figure>
        <figure class="owl-carousel__item">
            <img src="//static.ucl.ac.uk/indigo/images/carousel/carousel-beams.jpg" />
            <figcaption>
                <h2 class="heading">
                    <a href="#" target="_self">Tropical storm warnings save lives</a>
                </h2>
                <p class="p">Real-time warnings help agencies decide when to evacuate</p>
            </figcaption>
        </figure>
        <figure class="owl-carousel__item">
            <img src="//static.ucl.ac.uk/indigo/images/carousel/carousel-ioe.jpg" />
            <figcaption>
                <h2 class="heading">
                    <a href="#" target="_self">A better start for children</a>
                </h2>
                <p class="p"> Shaping policy on early education</p>
            </figcaption>
        </figure>
    </div>
{% endblock %}


{% block content_sidebar %}
    <div class="site-content__sidebar">

        <h1>Sidebar</h1>

        <p>Supporting content, patterns or related links can be placed in the sidebar</p>

    </div>
{% endblock %}
